{% extends "base.html" %}

{% block title %}Sentiment Analysis Statistics {% endblock %}

{% block content %}

<body>
    <div class="container">
        <h1 class="page-title">Sentiment Statistics</h1>

        <!-- Message si aucune donnée n'est disponible -->
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% else %}
            <div class="graph-container">
                <!-- Graphique Positif -->
                <div class="graph-card positive">
                    <h3>Positive</h3>
                    <img src="data:image/png;base64,{{ img_pos }}" alt="Graphique des sentiments positifs" class="graph-image">
                </div>

                <!-- Graphique Neutre -->
                <div class="graph-card neutral">
                    <h3>Neutral</h3>
                    <img src="data:image/png;base64,{{ img_neu }}" alt="Graphique des sentiments neutres" class="graph-image">
                </div>

                <!-- Graphique Négatif -->
                <div class="graph-card negative">
                    <h3>Negative</h3>
                    <img src="data:image/png;base64,{{ img_neg }}" alt="Graphique des sentiments négatifs" class="graph-image">
                </div>
            </div>
        {% endif %}
    </div>
</body>

{% endblock %}
